/* All the CSS styling for CYNC */
body {
    margin: 0px;
    background-color: #f3f3f3;
}
#main-container {
    /* from https://stackoverflow.com/questions/20590239/maintain-aspect-ratio-of-div-but-fill-screen-width-and-height-in-css */
    margin:0;
    padding:0;
    width: 100vw; 
    height: 56.25vw; /* 100/56.25 = 1.778 */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0; bottom:0; /* vertical center */
    left:0; right:0; /* horizontal center */
    /*background: pink;*/
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}
.screen_darkener {
    position: absolute;
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
}
.video {
    /* youtube embeds videos at 560x315 (ratio = 1:1.778) */
    z-index: 100;
    margin: 0;
    padding: 0;
    width: 80vw;
    height: 45vw; /* 80/45 = 1.778 */
    max-height: 80vh;
    max-width: 142.25vh; /* 16/9 = 1.778 */
    margin: auto;
    position: absolute;
    top:0; bottom:0; /* vertical center */
    left:0; right:0; /* horizontal center */
    background: black;
    transition: all 200ms;
    transform: scale(.9);
}
.video.scale-out {
    -webkit-transform: scale(.9);
    -moz-transform: scale(.9);
    -o-transform: scale(.9);
    transform: scale(.9);
}
.video.scale-in {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
